.divsty{
        position: fixed;
          width: 100vw;
            z-index: 1;
}

.heading{
 align-items: start;
}

@media screen and (min-width: 780px) {
  .heading {
    margin-right: 40px;
    text-align: center;
  }
}