.mar124{
  display: flex;
  flex-wrap: wrap;

}


@media screen and (max-width: 760px) {
  .mar124 {
      display: flex;
      flex-wrap: wrap;
      margin-top: 25vh;
    position: absolute;
    }
}